
html{
    scroll-behavior: smooth;
}

body{
    height: max-content; /* Used to enable scrolling */
    background: linear-gradient(to bottom,
    var(--background) 0%,
    #111827 40%,
    #1E293B 100%
    );
    color: var(--text);
    font-family: Arial, serif;
    --primary: #0A2540;
    --secondary: #1E293B;
    --background: #0F172A;
    --text: #E2E8F0;
    --accent: #94A3B8;
    margin: 0 0;
}

/* DARKMODE */

.dark-mode{
    color: #0A2540;
    background: #E2E8F0;
    --primary: #f1f5f9;
    --secondary: #0A2540;
    --background: #0A2540;
    --accent: #3d426a;
}

.dark-mode .nav-center a{
    color: #0A2540;
}

.dark-mode .nav-center a:hover{
    --accent: #94A3B8;
}


/* NAVBAR */

.navbar {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}
.nav-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left h3 {
    margin: 0;
}

.nav-center a {
    margin-left: 20px;
    text-decoration: none;
    color: var(--text);
    font-weight: bold;
}

.nav-center a:hover {
    color:  var(--accent);
}

/* SLIDER DARKANDLIGHT MODER */

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--accent);
    transition: 0.3s;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 2.5px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}

.switch input:checked + .slider {
    background-color: var(--secondary);
}

.switch input:checked + .slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(24px);
}


/* HEADER */

title{
    padding: 120px 80px;
    text-align: left;
    color: var(--text);
    font-size: 30px;
}

title h1{
    font-size: 60px;
    margin-bottom: 10px;
}

.title-content{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title-text {
    max-width: 50%;
}

.title-picture{
    display: flex;
    justify-content: flex-end;
}

.title-picture img{
    width: 260px;
    height: 260px;
    border-radius: 50%;
    border: 5px solid var(--primary);
    display: flex;
    justify-content: flex-end;
}

/* SECTION */

section{
    padding: 40px 20px;
    max-width: 70%;
    margin: auto;
}
section h2{
    font-size: 36px;
}

#about{
    text-align: left;
}

/* PROJECT */

#project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.project img {
    width: 220px;
    height: 160px;
}

.project {
    background:var(--primary);
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;
    text-align: center;
}

.project-btn {
    display: block;
    text-align: center;
    margin: 5px;
    padding: 5px;
    background: var(--background);
    color: var(--text);
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
}

.project-btn:hover {
    background: var(--text);
    color: var(--background);
    text-decoration: none;
    cursor: pointer;
}

/* SKILL */

#skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skill{
    position: relative;
    background:var(--primary);
    padding: 10px;
    margin-top: 10px;
    border-radius: 15px;
    cursor: pointer;
}

.tooltip {
    position: absolute;
    bottom: 120%;
    left: 50%;
    margin-left: -100px;

    background: var(--secondary);
    color: var(--text);
    padding: 10px;
    border-radius: 8px;
    width: 200px;

    opacity: 0;
    transition: 0.3s;
}

.skill:hover .tooltip {
    opacity: 1;
}

.tooltip::after{
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: var(--secondary) transparent transparent transparent
}

/* EXPERIENCE */

.experience-job h3 {
    font-size: 22px;
    margin-bottom: 1px;
}
.experience-job p {
    margin: 0;
    font-size: 14px;
}

.company {
    color: var(--accent);
}

.experience-job li {
    margin-bottom: 5px;
}

/* EDUCATION */

.education-item h3 {
    font-size: 22px;
    margin-bottom: 1px;
}
.education-item p {
    margin: 0;
    font-size: 14px;
}

.school {
    color: var(--accent)
}

.education-item li {
    margin-bottom: 5px;
}

/* GET IN TOUCH */

.contact-container {
    display: flex;
    gap: 30px;
}

.contact-info {
    width: 40%;
}

.contact-form {
    width: 60%;
}

.contact-form label {
    display: block;
    margin-top: 10px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}


.contact-form button {
    margin-top: 5px;
    padding: 5px;
    width: 30%;
    background: var(--background);
    color: var(--text);
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.contact-form button:hover {
    background: var(--text);
    color: var(--background);
    text-decoration: none;
    cursor: pointer;
}

/* FOOTER */

.footer{
    text-align: center;
    margin: 80px auto;
}

/* Beim kleineren Bildschrim Bild unten Text oben*/
@media (max-width: 900px) {
    .header-content {
        flex-direction: column;
        text-align: center;
    }

    .header-text {
        max-width: 100%;
    }

    .header-picture {
        margin-top: 20px;
    }
}