body{
    Background: white;
    color: black;
    font-family: Arial, serif;
}

header{
    padding: 80px 60px;
    text-align: left;
    background-image: url("../assets/images/Header-Background.jpg");
    background-size: cover;
    color: black;
    font-size: 30px;
}